.content {
  text-align: center;
}

.text {
  text-align: center;
}

.font {
  font-size: 20px;
  text-decoration: underline;
}

.fontFamily {
  color: pink;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.fontLink {
  color: rgb(57, 205, 216);
}
